# Operators

In [143]:
print("Arithmetic Operators")
# Arithmetic Operators
a, b = 10, 3

print(a + b)        # 13  → addition
print(a - b)        # 7   → subtraction
print(a * b)        # 30  → multiplication
print(a / b)        # 3.333... → division (always float)
print(a // b)       # 3   → floor division (integer result)
print(a % b)        # 1   → modulus (for remainder)
print(a ** b)       # 1000 → exponent (10^3)

print("Assignment Operators")
# Assignment Operators
x = 5
print(x)
x += 3         # x = x + 3 → 8
print(x)
x -= 2         # x = x - 2 → 6
print(x)
x *= 4         # x = x * 4 → 24
print(x)
x /= 3         # x = x / 3 → 8.0
print(x)
x //= 2        # x = x // 2 → 4.0    (still float, because previous was float)
print(x)
x %= 3         # x = x % 3 → 1.0
print(x)
x **= 2        # x = x ** 2 → 1.0
print(x)

print("Comparison Operators")
# Comparison Operators
print(5 == 5)            # True   → equal
print(5 != 3)            # True   → not equal
print(7 > 3)             # True   → greater than
print(2 < 10)            # True   → less than
print(5 >= 5)            # True   → greater than or equal
print(4 <= 2)            # False  → less than or equal

print("Logical Operators")
# Logical Operators
x = 10
print(x > 5 and x < 20)       # True  (both conditions True)
print(x > 15 or x < 20)       # True  (one condition True)
print(not(x > 5))             # False (negates True)

print("Bitwise Operators")
# Bitwise Operators
a = 5            # (binary: 0101)
b = 3            # (binary: 0011)

print(a & b)           # 1  (AND → 0001)
print(a | b)           # 7  (OR → 0111)
print(a ^ b)           # 6  (XOR → 0110)
print(~a)              # -6 (NOT → inverts bits)
print(a << 1)          # 10 (Left shift → 1010)
print(a >> 1)          # 2  (Right shift → 0010)

print("Membership Operators")
# Membership Operators
print("a" in "apple")         # True
print("z" not in "apple")     # True

nums = [1, 2, 3, 4]
print(3 in nums)              # True
print(10 not in nums)         # True

print("Identity Operators")
# Identity Operators
x = [1, 2, 3]
y = x
z = [1, 2, 3]

print(x is y)            # True (same object in memory)
print(x is z)            # False (same values, but different objects)
print(x == z)            # True (values are same)
print(x is not z)        # True

Arithmetic Operators
13
7
30
3.3333333333333335
3
1
1000
Assignment Operators
5
8
6
24
8.0
4.0
1.0
1.0
Comparison Operators
True
True
True
True
True
False
Logical Operators
True
True
False
Bitwise Operators
1
7
6
-6
10
2
Membership Operators
True
True
True
True
Identity Operators
True
False
True
True

# Rounding

In [5]:
num = 12.43567

# using round() function
print(round(num, 2))
print(round(num))

# Using String Formatting (%)
print("%.3f" % num)    # 12.436

# Using format() Function
print(format(num, ".2f"))   # 12.44

# Using f-Strings
print(f"{num:.2f}")    # 12.44

12.44
12
12.436
12.44
12.44

In [8]:
# Using decimal Module
from decimal import Decimal, ROUND_HALF_UP

num = Decimal("12.43567")
print(num.quantize(Decimal("0.01"), rounding=ROUND_HALF_UP))   # 12.44

12.44

In [9]:
# Using math Module (floor/ceil)
import math

print(math.floor(12.9))  # 12 → round down
print(math.ceil(12.1))   # 13 → round up

12
13

# Strings

In [10]:
# Indexing

text = "Python"
print(text[0])          # P  (first character)
print(text[5])          # n  (last character)
print(text[-1])         # n  (negative index)
print(text[-2])         # o

P
n
n
o

In [11]:
# Slicing

word = "Programming"
print(word[0:6])         # Progra (0 to 5)
print(word[:6])          # Progra (start default = 0)
print(word[3:])          # gramming (till end)
print(word[::2])         # Pormig (every 2nd char)
print(word[::-1])        # gnimmargorP (reverse string)

Progra
Progra
gramming
Pormig
gnimmargorP

In [15]:
# String Concatenation & Repetition
a = "Hello"
b = "World"
print(a + " " + b)      # Hello World 
 # (without " " output is HelloWorld)
print(a * 3)            # HelloHelloHello (Repeats 3 times)

Hello World
HelloHelloHello

String Methods

In [16]:
# 1. Case Conversion
msg = "hello world"
print(msg.upper())           # HELLO WORLD (all uppercase)
print(msg.lower())           # hello world (all lowercase)
print(msg.title())           # Hello World (first letter of each word capitalized)
print(msg.capitalize())      # Hello world (only first letter capitalized)
print(msg.swapcase())        # HELLO WORLD (converts lower→upper, upper→lower)

HELLO WORLD
hello world
Hello World
Hello world
HELLO WORLD

In [17]:
# 2. Searching
txt = "I love Python"
print(txt.find("Python"))    # 7
print(txt.index("love"))     # 2
print(txt.count("o"))        # 2

7
2
2

In [18]:
# Modification
txt = "  Python  "
print(txt.strip())       # "Python" (removes spaces both sides)
print(txt.lstrip())      # "Python  " (removes left spaces)
print(txt.rstrip())      # "  Python" (removes right spaces)
print(txt.replace("Python", "Java"))  # "  Java  "

Python
Python
  Python
  Java

In [20]:
# Splitting and Joining
# split()
txt = "apple,banana,cherry"
print(txt.split(","))        # ['apple', 'banana', 'cherry']
print(txt.rsplit(",", 1))    # ['apple,banana', 'cherry']

# join()
words = ["I", "love", "Python"]
print(" ".join(words))       # I love Python

['apple', 'banana', 'cherry']
['apple,banana', 'cherry']
I love Python

In [22]:
# Checking
print("python".startswith("py"))  # True
print("python".endswith("on"))    # True

print("123".isdigit())            # True (only digits)
print("abc".isalpha())            # True (only alphabets)
print("abc123".isalnum())         # True (alphabets + numbers)
print(" ".isspace())              # True (only spaces)

True
True
True
True
True
True

In [23]:
# Justifying
s = "hello"
print(s.center(10, "*"))   # **hello***
print(s.ljust(10, "*"))    # hello*****
print(s.rjust(10, "*"))    # *****hello

s = "1234"
print(s.zfill(10))         # 0000001234

**hello***
hello*****
*****hello
0000001234

In [24]:
# Enumerate
str = "Hello World"
print(list(enumerate(str)))

[(0, 'H'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o'), (5, ' '), (6, 'W'), (7, 'o'), (8, 'r'), (9, 'l'), (10, 'd')]

In [25]:
# Escape Characters
print("It\'s good")
print("He said \"Hi\"")
print("C:\\path\\file")
print("Hello\nWorld")
print("Hello\tWorld")
print("Helloo\b")
print("Hello\rWorld")
print("Hello\fWorld")

It's good
He said "Hi"
C:\path\file
Hello
World
Hello	World
Hello
World
HelloWorld

String Formatting

In [26]:
# f-strings
name = "Ali"
age = 20
print(f"My name is {name} and I am {age} years old.")

My name is Ali and I am 20 years old.

In [29]:
# format() method
print("Hello {}, welcome to {}!".format("Ali", "Python"))

print("{1} is learning {0}".format("Python", "Ali"))

print("My name is {name} and I am {age}.".format(name="Ali", age=20))

Hello Ali, welcome to Python!
Ali is learning Python
My name is Ali and I am 20.

In [31]:
# ord()
ch = "R"
print(ord(ch))

# chr()
print(chr(82))

82
R

 Input and Output

In [39]:
# OUTPUT
# Basic Usage
print("Hello, World!")

# Printing Multiple Values
name = "Ali"
age = 21
print("Name:", name, "Age:", age)

# Custom Separator (sep)
print("2025", "08", "09", sep="-")

# Custom End (end)
print("Hello", end=" ")
print("World")

# INPUT
# Basic Usage
name = input("Enter your name: ")
print("Hello", name)

# Converting Input to Numbers
age = int(input("Enter age: "))    # integer input
pi  = float(input("Enter pi: "))   # float input
print("Age:", age, "Pi:", pi)

Hello, World!
Name: Ali Age: 21
2025-08-09
Hello World

Enter your name:  Ali

Hello Ali

Enter age:  21
Enter pi:  3.14

Age: 21 Pi: 3.14

In [40]:
# Multiple Statements on a Single Line in Python
a = 5; b = 10; print(a + b)

15

# Lists

Ordered, Mutable, Dynamic Size, Heterogeneous Elements

Creating lists

In [58]:
list1 = []                   # empty list
print(list1)

list2 = [1, 2, 3]            # with elements
print(list2)

list3 = list("hello")        # ['h', 'e', 'l', 'l', 'o']    
print(list3)

fruits = ["apple", "banana", "cherry"]
print(fruits)

mixed = [1, "hello", 3.5, True]   # mixed data types
print(mixed)

print(len(fruits))                # Output: 3
print(type(fruits))               # Output: <class 'list'>

[]
[1, 2, 3]
['h', 'e', 'l', 'l', 'o']
['apple', 'banana', 'cherry']
[1, 'hello', 3.5, True]
3
<class 'list'>

Indexing and Slicing

In [44]:
# Indexing
fruits = ["apple", "banana", "cherry"]
print(fruits[0])            # apple (first element)
print(fruits[-1])           # cherry (last element)

# Slicing
nums = [0, 1, 2, 3, 4, 5]
print(nums[1:4])        # [1, 2, 3]
print(nums[:3])         # [0, 1, 2] - (default start = 0)
print(nums[::2])        # [0, 2, 4] - (step = 2)
print(nums[::-1])       # [5, 4, 3, 2, 1, 0] - reverse list

apple
cherry
[1, 2, 3]
[0, 1, 2]
[0, 2, 4]
[5, 4, 3, 2, 1, 0]

In [49]:
# Updating Elements
fruits = ["apple", "banana", "cherry"]
print(fruits)

fruits[1] = "blueberry"
print(fruits)        # ['apple', 'blueberry', 'cherry']

# Adding Elements
fruits = ["apple", "banana", "cherry"]
print(fruits)

fruits.append("orange")            # add at end
print(fruits)

fruits.insert(1, "mango")          # add at specific index
print(fruits)

fruits.extend(["grape", "melon"])  # add multiple
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'blueberry', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'mango', 'banana', 'cherry', 'orange']
['apple', 'mango', 'banana', 'cherry', 'orange', 'grape', 'melon']

In [52]:
# Removing Elements
fruits = ["apple", "banana", "cherry", "banana"]
print(fruits)

fruits.remove("apple")   # removes first 'apple'
print(fruits)            # ['banana', 'cherry', 'banana']

fruits.pop()             # removes last element
print(fruits)            # ['banana', 'cherry']

fruits.pop(1)            # removes by index 1
print(fruits)            # ['banana']

del fruits[0]            # delete index 0
print(fruits)            # []

fruits = ["apple", "banana"]
print(fruits)

fruits.clear()           # remove all elements
print(fruits)            # []

['apple', 'banana', 'cherry', 'banana']
['banana', 'cherry', 'banana']
['banana', 'cherry']
['banana']
[]
['apple', 'banana']
[]

In [55]:
# Sorting Methods
fruits = ["apple", "pear", "cherry", "banana"]
print(fruits)

fruits.sort()
print(fruits)

fruits.sort(reverse=True)
print(fruits)

fruits.reverse()
print(fruits)

['apple', 'pear', 'cherry', 'banana']
['apple', 'banana', 'cherry', 'pear']
['pear', 'cherry', 'banana', 'apple']
['apple', 'banana', 'cherry', 'pear']

# Tuples

Ordered, Immutable, Heterogeneous Elements

Creating Tuples

In [62]:
t1 = ()                     # empty tuple
print(t1)

t2 = (1, 2, 3)              # tuple with numbers
print(t2)

t3 = ("apple", "banana")    # tuple with strings
print(t3)

t4 = (1, "hello", 3.5)      # mixed data types
print(t4)

t5 = (1,)                   # single element tuple (note the comma!)
print(t5)
print(type((1)))   # <class 'int'>
print(type((1,)))  # <class 'tuple'>

t6 = tuple([4, 5, 6])       # using tuple() constructor
print(t6)

()
(1, 2, 3)
('apple', 'banana')
(1, 'hello', 3.5)
(1,)
<class 'int'>
<class 'tuple'>
(4, 5, 6)

In [66]:
# Accessing Elements
fruits = ("apple", "banana", "cherry")
print(fruits[0])      # apple
print(fruits[-1])     # cherry
print(fruits[0:2])    # ('apple', 'banana')

apple
cherry
('apple', 'banana')

In [72]:
# Immutability
t = (1, 2, 3)
# t[0] = 10    # Error: 'tuple' object does not support item assignment

t = (1, [2, 3], 4)
t[1][0] = 99
print(t)       # (1, [99, 3], 4)

(1, [99, 3], 4)

Tuple Methods

In [74]:
# count()
t = (1, 2, 3, 2, 4, 2)
print(t.count(2))   # 3

# index()
t = ("apple", "banana", "cherry", "banana")
print(t.index("banana"))  # 1

3
1

In [75]:
# Built-in Functions with Tuples
t = (10, 20, 5, 40)

print(len(t))       # 4   → length of tuple
print(max(t))       # 40  → largest element
print(min(t))       # 5   → smallest element
print(sum(t))       # 75  → sum of elements (only numbers)
print(sorted(t))    # [5, 10, 20, 40] → returns a new sorted list

4
40
5
75
[5, 10, 20, 40]

In [76]:
# Operations on Tuples

# Concatenation
a = (1, 2)
b = (3, 4)
print(a + b)            # (1, 2, 3, 4)

# Repetition
print(a * 3)            # (1, 2, 1, 2, 1, 2)

# Membership
print(2 in a)           # True
print(5 not in a)       # True

(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)
True
True

In [77]:
# Nesting
nested = ((1, 2), ("a", "b"))
print(nested[1][0])       # 'a'

a

In [79]:
# Packing and Unpacking

# Packing
person = ("John", 25, "Engineer")

# Unpacking
name, age, profession = person
print(name)       # John
print(age)        # 25
print(profession) # Engineer

# to collect multiple values:
a, *b = (1, 2, 3, 4, 5)
print(a)  # 1
print(b)  # [2, 3, 4, 5]

John
25
Engineer
1
[2, 3, 4, 5]

# Sets

Unordered, Unique Elements, Mutable

Creating Tuples

In [83]:
# Using curly braces
my_set = {1, 2, 3}
print(my_set)

# Using set() function
my_set2 = set([1, 2, 2, 3])  # duplicates removed → {1, 2, 3}
print(my_set2)

# Empty set
s1 = set()           # correct
print(type(s1))
s2 = {}              # creates dictionary, not set
print(type(s2))

{1, 2, 3}
{1, 2, 3}
<class 'set'>
<class 'dict'>

Set Methods & Operations

In [88]:
# Adding & Removing

s = {1, 2}
s.add(3)             # {1, 2, 3} (Add single element)
print(s)

s.update([4, 5])     # {1, 2, 3, 4, 5} (Add multiple)
print(s)

s.remove(3)          # Removes 3, error if not found
print(s)

s.discard(10)        # Removes if present, no error
print(s)

s.pop()              # Removes random element
print(s)
print(s.pop())       # Removes & returns random element

s.clear()            # Removes all elements
print(s)

{1, 2, 3}
{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 2, 4, 5}
{2, 4, 5}
2
set()

In [91]:
# Mathematical Set Operations
A = {1, 2, 3}
B = {3, 4, 5}

print(A | B)   # Union → {1, 2, 3, 4, 5}
print(A & B)   # Intersection → {3}
print(A - B)   # Difference → {1, 2}
print(B - A)   # Difference → {4, 5}
print(A ^ B)   # Symmetric Difference → {1, 2, 4, 5}

# Equivalent methods:
print(A.union(B))                         # {1, 2, 3, 4, 5}
print(A.intersection(B))                 # {3} 
print(A.difference(B))                    # {1, 2} 
print(B.difference(A))                    # {4, 5} 
print(A.symmetric_difference(B))          # {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{4, 5}
{1, 2, 4, 5}
{1, 2, 3, 4, 5}
{3}
{1, 2}
{4, 5}
{1, 2, 4, 5}

In [96]:
# Set Relationship Checks
A = {3}
B = {3, 4, 5}

print(A.issubset(B))        # True if all elements of A in B
print(A.issuperset(B))      # True if all elements of B in A
print(A.isdisjoint(B))      # True if A & B have no common elements

True
False
False

In [99]:
# Frozen Set
fs = frozenset([1, 2, 3])
# fs.add(4) - error (immutable)
print(fs)             # frozenset({1, 2, 3})

frozenset({1, 2, 3})

# Dictionaries

Ordered, Mutable, Keys(Unique) and Values(any data type)

Creating Dictionaries

In [102]:
# Using curly braces
my_dict = {"a": 1, "b": 2}
print(my_dict)

# Using dict() constructor
my_dict2 = dict(a=3, b=4)
print(my_dict2)

# Empty dictionary
empty_dict = {}
print(empty_dict)

{'a': 1, 'b': 2}
{'a': 3, 'b': 4}
{}

In [110]:
# Accessing Values
student = {"name": "Ali", "age": 20, "grade": "A"}

print(student["name"])   # Ali
# print(student["city"])   # Error: city not found

# get() avoids error if key not found
print(student.get("age")) # 20
print(student.get("city"))  # Returns None
print(student.get("city", "Not Found"))  # Returns Not Found

Ali
20
None
Not Found

In [116]:
# Adding and Updating Values
student = {"name": "Ali", "age": 20, "grade": "A", "marks": 90}
print(student)

student["city"] = "Pune"     # Add new key-value
student["age"] = 21          # Update existing key-value
print(student)

student.setdefault("year", 3)   # Returns value, inserts key if missing
print(student)

# Removing Items
print(student.pop("marks"))         # Removes key and returns its value
print(student)

student.popitem()            # Removes last inserted key-value pair
print(student)

del student["name"]          # Deletes a key-value pair
print(student)

student.clear()              # Removes all items
print(student)

{'name': 'Ali', 'age': 20, 'grade': 'A', 'marks': 90}
{'name': 'Ali', 'age': 21, 'grade': 'A', 'marks': 90, 'city': 'Pune'}
{'name': 'Ali', 'age': 21, 'grade': 'A', 'marks': 90, 'city': 'Pune', 'year': 3}
90
{'name': 'Ali', 'age': 21, 'grade': 'A', 'city': 'Pune', 'year': 3}
{'name': 'Ali', 'age': 21, 'grade': 'A', 'city': 'Pune'}
{'age': 21, 'grade': 'A', 'city': 'Pune'}
{}

In [117]:
# Nested Dicts
students = {
    "student1": {"name": "Alice", "age": 20},
    "student2": {"name": "Bob", "age": 22}
}

# Access:
students["student1"]["name"]  # Alice

'Alice'

# Conditionals

Three types of conditionals:
1) if statement
2) if-else statement
3) if-elif-else statement

In [119]:
# if Statement

x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [122]:
# if-else Statement

x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [127]:
#  if-elif-else Statement

x = 10
if x > 15:
    print("x is greater than 15")
elif x > 5:
    print("x is greater than 5 but less than or equal to 15")
else:
    print("x is 5 or less")

x is greater than 5 but less than or equal to 15

In [130]:
# Nested Conditionals

x = 20
if x > 10:
    if x < 30:
        print("x is between 10 and 30")

x is between 10 and 30

In [131]:
# Ternary Operator

x = 7
result = "Even" if x % 2 == 0 else "Odd"
print(result)

Odd

In [132]:
# Logical Operators in Conditionals

age = 20
country = "India"

if age > 18 and country == "India":
    print("Eligible to vote in India")

if age < 18 or country != "India":
    print("Not eligible")

if not (age < 18):
    print("Age condition satisfied")

Eligible to vote in India
Age condition satisfied

# Loops

Two types:
1) for loop
2) while loop

In [135]:
# for loop

for i in range(5):
    print(i)  # prints 0 to 4

0
1
2
3
4

In [134]:
# while loop

count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

Loop Control Statements

In [137]:
print("Break")
# break
for i in range(10):
    if i == 5:
        break
    print(i)
    
print("Continue")
# continue
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)  # prints only odd numbers

print("Pass")
# pass
for i in range(3):
    pass      # Future code will be written here

Break
0
1
2
3
4
Continue
1
3
5
7
9
Pass

In [138]:
# Else with loops

for i in range(3):
    print(i)
else:
    print("Loop finished without break")

0
1
2
Loop finished without break

In [139]:
# Nested Loops
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

# Functions

Code organization, reusability, and reducing repetition

Defining & Calling Functions

In [1]:
# Defining the function
def greet():          
    print("Hello, World!")

# Calling the function 
greet()    		   # This will print "Hello, World!"

Hello, World!

Function Parameters and Arguments

In [2]:
def greet(name):   # here "name" is a parameter
    print("Hello", name)

greet("Ali")   # "Ali" is the argument

Hello Ali

Different ways to pass arguments

1) Positional Arguments

In [10]:
def info(name, city):
    print(f"Hello, My name is {name} and I am from {city}.")

info("Alice", "Paris")

Hello, My name is Alice and I am from Paris.

2) Default Arguments

In [3]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()         # Hello, Guest!
greet("Alice")  # Hello, Alice!

Hello, Guest!
Hello, Alice!

3) Keyword Arguments

In [4]:
def student(name, age):
    print(f"Name: {name}, Age: {age}")

student(age=20, name="Bob")

Name: Bob, Age: 20

4) Variable Positional Arguments (*args)

In [5]:
def add(*numbers):
    return sum(numbers)

print(add(1, 2, 3, 4))

10

5) Variable Keyword Arguments (**kwargs)

In [6]:
def display(**info):
    for key, value in info.items():
        print(f"{key}: {value}")

display(name="Alice", age=25, city="Paris")

name: Alice
age: 25
city: Paris

Parameter Order Rule in Python
When combining all types, the order should be:
1. Positional arguments
2. Default arguments
3. *args
4. **kwargs

In [17]:
def example(a, b=10, *args, **kwargs):
    print("a:", a)
    print("b:", b)
    print("args:", args)
    print("kwargs:", kwargs)

example(1, 2, 3, 4, x=5, y=6)

a: 1
b: 2
args: (3, 4)
kwargs: {'x': 5, 'y': 6}

Return Statement

In [18]:
def square(num):
    return num * num

result = square(5)
print(result)

25

Lambda Function

In [19]:
square = lambda x: x**2
print(square(4))

16

Recursion Example

In [22]:
def factorial(n):
    if n == 1:           # base case (stop here)
        return 1
    return n * factorial(n - 1)   # recursive call

print(factorial(5))

120

Docstrings

In [23]:
def greet():
    """This function greets the user."""
    print("Hello!")

greet()

Hello!

Functions as Arguments

In [24]:
def apply(func, x):
    return func(x)

def square(n):
    return n * n

print(apply(square, 5))  # 25

25

Scope of Variables

In [27]:
x = 10  # global

def func():
    y = 5  # local
    print("Inside:", x, y)

func()
print("Outside:", x)
# print(y)               # This would raise a NameError

Inside: 10 5
Outside: 10

# Modules and Packages

Importing Modules

In [35]:
import math
print(math.sqrt(25))   # Output: 5.0

import random
print(random.randint(1, 10))   # Output: random number between 1 and 10

5.0
6

Importing Specific Items from a Module

In [36]:
from math import pi, pow
print(pi)         # Output: 3.141592653589793
print(pow(2, 3))  # Output: 8.0

3.141592653589793
8.0

Aliases for Modules

In [53]:
import math as m
print(m.factorial(5))  # Output: 120

print(dir(math))       # Lists all available functions, classes, and variables in a module.

120
['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fma', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

Creating Your Own Module

File: mymodule.py
def greet(name):
    return f"Hello, {name}!"

In [46]:
# Using it in another file:
import practice_module
print(practice_module.greet("Ali"))

Hello, Ali!

Packages

Folder structure:
mypackage/
    __init__.py
    module1.py
    module2.py

In [52]:
# Using the package:
from mypackage import module1, module2 as m1, m2
print(module1.sum(8, 6))
print(module2.info("Ali", "Paris"))

14
My name is Ali and I live in Paris.

# File Handling

Opening

In [76]:
# file = open("example.txt", "r")  # r = read mode

Reading

In [85]:
file = open("example.txt", "r")
print(file.read())        # Reads entire file
# print(file.read(10))      # Reads first 10 characters
# print(file.readline())    # Reads one line
# print(file.readlines())   # Reads all lines as list
file.close()

Hello, World!

Writing

In [84]:
file = open("example.txt", "w")
file.write("Hello, World!")
# print(file.read())
file.close()

Appending

In [86]:
file = open("example.txt", "a")
file.write("\nNew line added.")
file.close()

Using with Statement (Best Practice)

In [88]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)  # File auto-closes

Hello, World!
New line added.

Checking File Existence

In [89]:
import os
if os.path.exists("example.txt"):
    print("File exists")
else:
    print("File not found")

File exists

Deleting a File

In [92]:
import os
# os.remove("test.txt")   # deletes file

# Check if file exists before deleting:
if os.path.exists("test.txt"):
    os.remove("test.txt")
else:
    print("File not found")

File not found

Working with Binary Files

In [187]:
with open("image.jpg", "rb") as f:   # rb = read binary
    data = f.read()

In [188]:
with open("copy.jpg", "wb") as f:    # wb = write binary
    f.write(data)

# JSON and CSV

JSON

In [97]:
import json

# Write JSON to File
data = {"name": "Ali", "age": 21, "city": "Mumbai"}
with open("data.json", "w") as f:
    json.dump(data, f)   # Write Python dict → JSON file

In [98]:
# Convert Python Object → JSON String
print(json.dumps(data))   # {"name": "Unzila", "age": 21, "city": "Betul"}

{"name": "Ali", "age": 21, "city": "Mumbai"}

In [99]:
# Read JSON from File
with open("data.json", "r") as f:
    result = json.load(f)   # JSON file → Python dict
print(result["name"])   # Output: Unzila

Ali

In [100]:
# Convert JSON String → Python Object
json_string = '{"name": "Ali", "age": 21}'
result = json.loads(json_string)
print(result["age"])   # Output: 21

21

CSV

In [101]:
import csv

# Writing to CSV:

# Simple Writer
rows = [["Name", "Age"], ["Alice", 22], ["Bob", 25]]
with open("data.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(rows)   # multiple rows

In [102]:
# Write Single Row
with open("data.csv", "a", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["Charlie", 30])

In [104]:
# Write Using Dictionary
with open("data_dict.csv", "w", newline="") as f:
    fieldnames = ["Name", "Age"]
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerow({"Name": "Ali", "Age": 21})

In [105]:
# Reading from CSV:
# Simple Reader
with open("data.csv", "r") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Name', 'Age']
['Alice', '22']
['Bob', '25']
['Charlie', '30']

In [106]:
# Read as Dictionary
with open("data_dict.csv", "r") as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row["Name"], row["Age"])

Ali 21

# Exception Handling

Try–Except Block

In [107]:
try:
    x = 10 / 0
except ZeroDivisionError:
    print("You cannot divide by zero!")

You cannot divide by zero!

Multiple Except Blocks

In [108]:
try:
    num = int("abc")
except ValueError:
    print("Invalid conversion to int")
except ZeroDivisionError:
    print("Division by zero error")

Invalid conversion to int

Else Block

In [109]:
try:
    x = 10 / 2
except ZeroDivisionError:
    print("Error")
else:
    print("Division successful:", x)

Division successful: 5.0

Finally Block

In [110]:
try:
    f = open("test.txt", "w")
    f.write("Hello")
except Exception:
    print("Some error")
finally:
    f.close()
    print("File closed")

File closed

Example of all keywords:

In [112]:
try:
    # Code that might cause an error
    num = int(input("Enter a number: "))
    print(10 / num)
except ZeroDivisionError:
    print("Cannot divide by zero!")
except ValueError:
    print("Invalid input! Please enter a number.")
else:
    print("No errors occurred!")  # Runs because no exception happened
finally:
    print("Execution complete.")

Enter a number:  0

Cannot divide by zero!
Execution complete.

Catching Multiple Exceptions

In [115]:
try:
    value = int("abc")
except (ValueError, TypeError) as e:
    print("Error occurred:", e)
    
						# OR

# try:
#     x = 10 / 0
# except Exception as e:
#     print("Error:", e)

Error occurred: invalid literal for int() with base 10: 'abc'

Raising Exceptions Manually

In [122]:
def check_age(age):
    if age < 18:
        raise ValueError("Age must be at least 18.")
    print("Access granted.")

try:
    check_age(14)
except ValueError as e:
    print("Error:", e)

Error: Age must be at least 18.

Custom Exceptions

In [124]:
class CustomError(Exception):
    pass

try:
    raise CustomError("Something went wrong!")
except CustomError as e:
    print("Caught custom exception:", e)

Caught custom exception: Something went wrong!

# Object-Oriented Programming (OOP)

In [126]:
class Car:                               # Class
    def __init__(self, brand, color):    # Method
        self.brand = brand               # Attributes
        self.color = color

car1 = Car("Toyota", "Red")  # Object of 'Car' class
print(car1.brand)  # Toyota

Toyota

Instance Variables vs Class Variables & Methods (Instance, Class, Static)

In [129]:
class Student:
    school = "ABC School"  # Class attribute(Variable)

    def __init__(self, name):
        self.name = name  # Instance attribute (Variable)

    def instance_method(self):  # Instance Method
        print(f"Hello, I am {self.name}")

    @classmethod
    def class_method(cls):  # Class Method
        print(f"School Name: {cls.school}")

    @staticmethod
    def static_method():  # Static Method
        print("This is a static method")

# Using methods
s1 = Student("Alice")
s1.instance_method()      # Instance
Student.class_method()    # Class
Student.static_method()   # Static

Hello, I am Alice
School Name: ABC School
This is a static method

Encapsulation

In [132]:
class BankAccount:
    def __init__(self, owner, balance):
        self.owner = owner          # Public variable
        self._account_type = "Saving"  # Protected variable
        self.__balance = balance    # Private variable

    # Getter method (read balance)
    def get_balance(self):
        return self.__balance

    # Setter method (deposit money)
    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
        else:
            print("Invalid deposit amount!")

    # Setter method (withdraw money)
    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
        else:
            print("Insufficient funds or invalid amount!")

# Usage
acc = BankAccount("Unzila", 5000)
print(acc.owner)              # Public → Accessible
print(acc._account_type)      # Protected → Accessible but not recommended
# print(acc.__balance)        # Error: Private variable

print(acc.get_balance())      # Access via getter
acc.deposit(1000)             
print(acc.get_balance())      
acc.withdraw(2000)            
print(acc.get_balance())

Unzila
Saving
5000
6000
4000

Inheritance

In [133]:
# Single

class Parent:
    def greet(self):
        print("Hello from Parent")

class Child(Parent):
    pass

obj = Child()
obj.greet()  # Output: Hello from Parent

Hello from Parent

In [134]:
# Multiple

class A:
    def method_a(self):
        print("From A")

class B:
    def method_b(self):
        print("From B")

class C(A, B):
    pass

obj = C()
obj.method_a()
obj.method_b()

From A
From B

In [135]:
# Multilevel

class Grandparent:
    def method_gp(self):
        print("From Grandparent")

class Parent(Grandparent):
    pass

class Child(Parent):
    pass

obj = Child()
obj.method_gp()

From Grandparent

In [145]:
# Hierarchical

class Parent:
    def greet(self):
        print("Hello from Parent")

class Child1(Parent):
    pass

class Child2(Parent):
    pass

obj1 = Child1()
obj2 = Child2()
obj1.greet()
obj2.greet()

Hello from Parent
Hello from Parent

In [146]:
# Method Resolution Order (MRO)

print(C.__mro__)  # Shows the inheritance order

(<class '__main__.C'>, <class '__main__.A'>, <class '__main__.B'>, <class 'object'>)

Method Overriding

In [147]:
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def speak(self):  # Overriding the parent method
        print("Dog barks")

obj = Dog()
obj.speak()  # Output: Dog barks

Dog barks

Method Overloading (Not directly in Python)

In [150]:
class Calculator:
    def add(self, a=0, b=0, c=0):  # Default arguments
        return a + b + c

calc = Calculator()
print(calc.add())           # Output: 0
print(calc.add(2, 3))       # Output: 5
print(calc.add(2, 3, 4))    # Output: 9
print(calc.add(5))          # Output: 5

0
5
9
5

Polymorphism

In [151]:
class Dog:
    def sound(self):
        return "Woof"

class Cat:
    def sound(self):
        return "Meow"

# Using polymorphism
for animal in (Dog(), Cat()):
    print(animal.sound())  # Calls respective method for each object

Woof
Meow

Abstraction

In [152]:
from abc import ABC, abstractmethod

class Shape(ABC):  # Abstract class
    @abstractmethod
    def area(self):
        pass  # Abstract method (no implementation here)

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height
    
    def area(self):
        return self.width * self.height  # Implementation provided here

# shape = Shape()  # Cannot instantiate abstract class
rect = Rectangle(5, 10)
print(rect.area())  # Output: 50

50

super() Function

In [157]:
class Parent:
    def __init__(self, name):
        self.name = name
        print("Parent init called")

class Child(Parent):
    def __init__(self, name, age):
        super().__init__(name)  # Calls Parent's __init__
        self.age = age
        print("Child init called")

obj = Child("John", 20)
print(obj.name, obj.age)

Parent init called
Child init called
John 20

# Advanced Functions & Concepts

Map, Filter, Reduce

In [158]:
# Map

nums = [1, 2, 3]
squared = list(map(lambda x: x**2, nums))
print(squared)  # [1, 4, 9]

[1, 4, 9]

In [159]:
# Filter

nums = [1, 2, 3, 4, 5]
even = list(filter(lambda x: x % 2 == 0, nums))
print(even)  # [2, 4]

[2, 4]

In [160]:
# Reduce

from functools import reduce

nums = [1, 2, 3, 4, 5]
sum_all = reduce(lambda x, y: x + y, nums)
print(sum_all)  # 15

15

Decorators

In [167]:
# Simple Decorator

def decorator(func):
    def wrapper():
        print("Before function runs")
        func()          # original function
        print("After function runs")
    return wrapper

def say_hello():
    print("Hello!")

# Apply decorator
say_hello = decorator(say_hello)
say_hello()

Before function runs
Hello!
After function runs

In [163]:
# Using @ Symbol (Pythonic Way)

def decorator(func):
    def wrapper():
        print("Before function runs")
        func()
        print("After function runs")
    return wrapper

@decorator            # @decorator is just a shortcut for say_hello = decorator(say_hello).
def say_hello():
    print("Hello!")

say_hello()

Before function runs
Hello!
After function runs

Generators & yield

In [168]:
def count_up_to(n):
    count = 1
    while count <= n:
        yield count   # Returns value and pauses the function
        count += 1

for num in count_up_to(5):
    print(num)

1
2
3
4
5

Iterators (__iter__, __next__)

In [169]:
class MyNumbers:
    def __init__(self):
        self.num = 1

    def __iter__(self):
        return self

    def __next__(self):
        if self.num <= 5:
            value = self.num
            self.num += 1
            return value
        else:
            raise StopIteration

nums = MyNumbers()
for n in nums:
    print(n)

1
2
3
4
5

Closures

In [170]:
def outer_function(msg):
    def inner_function():
        print("Message:", msg)
    return inner_function

greet = outer_function("Hello")
greet()  # Still remembers 'msg' even though outer_function is done

Message: Hello

Comprehensions with Conditions

In [171]:
# List Comprehension
squares = [x**2 for x in range(10) if x % 2 == 0]
print(squares)

[0, 4, 16, 36, 64]

In [172]:
# Set Comprehension
unique_lengths = {len(word) for word in ["apple", "banana", "kiwi", "apple"]}
print(unique_lengths)

{4, 5, 6}

In [173]:
# Dict Comprehension
squares_dict = {x: x**2 for x in range(5) if x > 2}
print(squares_dict)

{3: 9, 4: 16}

# Context Managers in Python

In [174]:
class MyContext:
    def __enter__(self):
        print("Entering...")
        return "Resource Ready"
    
    def __exit__(self, exc_type, exc_value, traceback):
        print("Exiting... Cleanup done.")

# Using it
with MyContext() as resource:
    print(resource)

Entering...
Resource Ready
Exiting... Cleanup done.

In [175]:
# Contextlib Module (Shortcut)

from contextlib import contextmanager

@contextmanager
def my_context():
    print("Entering...")
    yield "Resource Ready"
    print("Exiting... Cleanup done.")

# Using it
with my_context() as resource:
    print(resource)

Entering...
Resource Ready
Exiting... Cleanup done.

# Regular Expressions (re module)

Common Methods:
re.search(pattern, text) → First match
re.findall(pattern, text) → All matches in a list
re.sub(pattern, repl, text) → Replace
re.match(pattern, text) → Match at start

In [184]:
# Example with normal string:
import re

pattern = "\\d+"                                 # match one or more digits
print(re.findall(pattern, "My age is 21"))       # Output: ['21']
# Here we had to write double backslash \\d+, because \d alone is not valid in a normal string.

['21']

In [183]:
# Example with raw string (better):
import re

pattern = r"\d+"   # raw string
print(re.findall(pattern, "My age is 21"))
# Output: ['21']

['21']

In [176]:
import re

text = "My phone number is 9876543210"
pattern = r"\d{10}"  # 10-digit number

match = re.search(pattern, text)

if match:
    print("Found:", match.group())

Found: 9876543210

In [181]:
# Example without compile:
import re

text = "My phone is 12345 and your phone is 67890"

print(re.findall(r"\d+", text))
print(re.findall(r"\d+", text))
# Here, the pattern \d+ is compiled again and again.

['12345', '67890']
['12345', '67890']

In [182]:
# Example with compile (better):
import re

pattern = re.compile(r"\d+")

text = "My phone is 12345 and your phone is 67890"

print(pattern.findall(text))
print(pattern.findall(text))

['12345', '67890']
['12345', '67890']

In [178]:
# Examples
import re

# Find all digits
print(re.findall(r"\d+", "My number is 12345"))  
# ['12345']

# Check if a string starts with Hello
print(bool(re.match(r"Hello", "Hello World")))  
# True

# Replace spaces with hyphens
print(re.sub(r"\s+", "-", "Python is fun"))  
# Python-is-fun

# Extract email from text
text = "Contact me at test@example.com"
email = re.search(r"[a-zA-Z0-9._]+@[a-z]+\.[a-z]+", text)
print(email.group())  
# test@example.com

['12345']
True
Python-is-fun
test@example.com

# Date & Time (datetime module)

In [179]:
from datetime import datetime, timedelta

now = datetime.now()
print("Now:", now.strftime("%Y-%m-%d %H:%M"))

yesterday = now - timedelta(days=1)
print("Yesterday:", yesterday)

Now: 2025-10-21 12:04
Yesterday: 2025-10-20 12:04:13.010009

# ---------------------------------------------------